Hotels.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://venus.sod.asu.edu/WSRepository/xml" 
targetNamespace="http://venus.sod.asu.edu/WSRepository/xml" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:element name = "Hotels" type = "HotelsType"/>
    <xsd:element name = "HotelsType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name = "Hotel" type = "HotelDetails" minOccurs="1" maxOccurs = "unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "HotelDetails">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name = "Name" type = "xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name = "Phone" type = "PhoneType" minOccurs = "1" maxOccurs = "unbounded"/>
                <xsd:element name = "Address" type = "AddressType" minOccurs = "1" maxOccurs = "1"/>
                <xsd:attribute name = "Rating" type = "xsd:positiveDecimal" use = "optional"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name = "AddressType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name = "Number" type = "xsd:positiveInteger" minOccurs = "1" maxOccurs = "1"/>
                <xsd:element name = "Street" type = "xsd:string" minOccurs = "1" maxOccurs = "1"/>
                <xsd:element name = "City" type ="xsd:string" minOccurs="1" maxOccurs="1"/>
                <xsd:element name = "State" type = "xsd:string" minOccurs = "1" maxOccurs = "1"/>
                <xsd:element name = "Zip" type ="xsd:positiveInteger" minOccurs="1" maxOccurs="1"/>
                <xsd:attribute name = "NearestAirport" type ="xsd:string" use ="required"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:simpleType name="PhoneType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="\d{3}\-\d{3} \d{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    
</xsd:schema>